/* This is an empty style sheet in CSS */
<html>
    <head>
        <style>
            body {background-color: powderblue;}
            h1 {
                color: blue;
                font-family: 'Times New Roman', Times, serif;
                font-size: 170%;
                border: 1px solid lightgray;
                padding: 15px;
                }
            p {
                color: grey;
                font-family: courier;
                font-size: 100%;
            }
            #emotionally {
                font-family: courier;
                color: grey;
            }
        </style>
    </head>
</html>
